<%
  // CREATE ALIASES 
  const current_page = locals?.current_page;
%>

<div class="cell large-9 small-12 generic-content" id="list-container">
  <h6 id="result-total"></h6>
  <div id="card-container" class="grid-x grid-margin-x content-data">
    <input hidden value="<%= current_page %>" id="current_page" />
  </div>
  <br/>
  <%- include ('./pagination.ejs') %> 
</div>

