<!-- prettier-ignore -->
<% 
    // CREATE ALIASES 
    const menulist = locals.metadata.site.acclab_suites 
    const title = locals.metadata.site.title 
    const stats = locals?.stats 
    const countries = locals?.countries
    ?.sort((a, b) => a?.name.localeCompare(b?.name)) || [];
    const bureau = locals?.bureau
    ?.sort((a, b) => a?.bureau.localeCompare(b?.bureau)) || [];

    const articletype = locals?.articletype?.sort((a, b) => a?.article_type.localeCompare(b?.article_type))
    .map(item => ({
        ...item,
        label: item.article_type ? item.article_type.toUpperCase() : null
      })) || [];
    const language = locals?.language?.sort((a, b) => a?.lang?.localeCompare(b?.lang))
    .map(item => ({
      ...item,
      label: item.lang ? item.lang.toUpperCase() : null
    })) || [];

    const geodata = locals?.geodata 
    const results = locals?.results 

    const total_pages = locals?.total_pages;
    const current_page = locals?.current_page;
%>

<div class="cell large-3 small-12 sidebar-width">
  <div class="column sidebar-desktop">
    <button class="button button-secondary sort-filter-search">
      Search and filter
      <span>Close</span>
    </button>
    <div class="search-filter">
      <input
        id="search-input"
        class="multi-select search-icon"
        placeholder="Looking for something?"
        type="text"
        aria-label="expand-search"
      />
      <div class="select-wrapper">
        <!-- Bureau Filter -->
        <div class="multi-select" data-multi-select="">
          <button aria-label="bureau" aria-expanded="false" data-id="filter11">
            Region
          </button>
          <ul
            data-type="bureau"
            role="listbox"
            aria-multiselectable="true"
            aria-hidden="true"
            aria-modal="true"
            id="regionList"
            class="h-3"
          ></ul>
        </div>

        <!-- Document Filter -->
        <div class="multi-select" data-multi-select="">
          <button aria-label="Document" aria-expanded="false" data-id="filter2">
            Document
          </button>
          <ul
            data-type="document"
            role="listbox"
            aria-multiselectable="true"
            aria-hidden="true"
            aria-modal="true"
            id="documentList"
            class="h-3"
          ></ul>
        </div>

        <!-- Date Filter -->
        <div class="pt-5" id="start-date"></div>
        <div class="pt-5" id="end-date"></div>

        <span class="active-filter">Active Filters:</span>
        <div class="selected-chips"></div>
        <button class="clear-search-filter">Clear All</button>
      </div>
    </div>
  </div>

  <br />
</div>
