<!DOCTYPE html>
<html>
<head>

<%- include ('../partials/head.ejs') %>
<%- include ('../partials/menu.ejs') %>

<div class='error-background p-8'>
    <h6>Page not found</h6>
    <a class="button button-primary button-arrow" role="button" href="/">
        Go back Home
    </a>
</div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>
