<%
	// CREATE ALIASES
    const menulist = locals.metadata.site.acclab_suites
%>

<div class="homepage-hero-tall">
  <div class="grid-x">
    <div class="cell medium-5 medium-offset-1">
      <div class="homepage-hero-tall-content">
        <h2 class="" tabindex="0" data-viewport="true">Insights Hub</h2>
        <h5 class=" fs-22" tabindex="0" data-viewport="true">
          Explore our curated collection of blogs and publications that foster collaboration, innovation, and continuous learning within the Accelerator Lab networks.
        </h5>
        <div class="show-large">
          <a
            class="button button-primary button-arrow"
            role="button"
            href="/browse"
          >
            Discover More
          </a>
        </div>
      </div>
    </div>
    <div class="cell medium-6">
      <div class="content-card-container inviewport" data-viewport="true">
        <div class="background-img">
          <div class="grid-x grid-margin-x content-card-wrapper p-5">
            <div class="cell medium-12">
              <h6 class="content" tabindex="0" data-viewport="true">
                Get an inside look at our behind-the-scenes activities.
              </h6>
            </div>
            <div class="cell medium-4">
              <div class="content-card">
                <a href="<%- menulist.filter(p=> p.title == 'Solutions')[0]?.url %>" target="_blank">
                  <h6 class="title">Solutions</h6>
                  <div class="content-caption">
                    <p class="fs-14">
                      Discover existing development solutions mapped by the UNDP Accelerator Labs.
                    </p>
                    <span class="cta__link cta--space">
                      Learn More
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="cell medium-4">
              <div class="content-card">
                <a href="<%- menulist.filter(p=> p.title == 'Action plans')[0]?.url %>" target="_blank">
                  <h6 class="title">Learning Plans</h6>
                  <div class="content-caption">
                    <p class="fs-14">
                      Discover what sustainable development challenges the Accelerator Labs have been working on with partners.
                    </p>
                    <span class="cta__link cta--space">
                      Find Out More
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="cell medium-4">
              <div class="content-card">
                <a href="<%- menulist.filter(p=> p.title == 'Experiments')[0]?.url %>" target="_blank">
                  <h6 class="title">Experiments</h6>
                  <div class="content-caption">
                    <p class="fs-14">
                      Discover and learn through our experimentation platform how many small experiments conducted by the Accelerator Labs Network.
                    </p>
                    <span class="cta__link cta--space">
                      Explore
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
