<%
	// CREATE ALIASES
    const menulist = locals.metadata.site.acclab_suites
%>

<div class="homepage-hero-tall">
  <div class="grid-x">
    <div class="cell medium-5">
      <div class="p-10 mx-5 mt-5">
        <h2 class="" tabindex="0" data-viewport="true">The SDG Innovation Commons</h2>
        <h5 class="mt-5 fs-16 ly-7" tabindex="0" data-viewport="true">
          Welcome to UNDP Accelerator Lab Network's central hub for multi-country SDG learnings that features insights and ready-to-deploy solutions for the Sustainable Development Goals and many more behind-the-scenes activities of the Network. We are in the early stages of building this open learning hub, so stay tuned.
        </h5>
      </div>
    </div>
    <div class="cell medium-7">
      <div class="content-card-container inviewport pr-5 pt-5" data-viewport="true">
        <div class="homepage-hero-full">
          <div class="overlay-grey">
            <img
              src="https://design.undp.org/static/media/field.1727a494.jpg"
              alt="Image"
            />
          </div>
          <div class="grid-x homepage-hero-content px-5 pb-5 mt-0">
            <div class="cell large-12 medium-12 mt-0 pt-5 mb-0 pb-0">
              <h5 class="color-white fs-16 ly-7" tabindex="0" data-viewport="true">
                Explore our curated collection of blogs and publications that foster collaboration, innovation, and continuous learning within the Accelerator Lab networks.
              </h5>
              <a class="button button-primary button-arrow mb-0 fs-14" role="button" href="/browse">
                Discover More
              </a>
            </div>
            <div class="cell medium-12 pt-5 pb-1 mt-5 fs-16">
              <p class="content color-white" tabindex="0" data-viewport="true">
                Get an inside look at our behind-the-scenes activities.
              </p>
            </div>
            <div class="cell medium-4 pt-0">
              <div class="content-card me-2 fs-14">
                <a href="<%- menulist.filter(p=> p.title == 'Learning plans')[0]?.url %>" target="_blank">
                  <h6 class="title fs-14">Learning Plans</h6>
                  <div class="content-caption pt-0">
                    <p class="">
                      Discover what sustainable development challenges the Accelerator Labs have been working on with partners.
                    </p>
                    <span class="cta__link cta--space fs-14">
                      Find Out More
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="cell medium-4 pt-0">
              <div class="content-card me-2 fs-14">
                <a href="<%- menulist.filter(p=> p.title == 'Solutions')[0]?.url %>" target="_blank">
                  <h6 class="title fs-14">Solutions</h6>
                  <div class="content-caption pt-0">
                    <p class="">
                      Discover existing development solutions mapped by the UNDP Accelerator Labs.
                    </p>
                    <span class="cta__link cta--space fs-14">
                      Learn More
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="cell medium-4 pt-0 ">
              <div class="content-card fs-14">
                <a href="<%- menulist.filter(p=> p.title == 'Experiments')[0]?.url %>" target="_blank">
                  <h6 class="title fs-14">Experiments</h6>
                  <div class="content-caption pt-0">
                    <p class="">
                      With small-scale, cost-effective and fast experiments, the Labs test new hypotheses and learn what works or what doesn’t in sustainable development.
                    </p>
                    <span class="cta__link cta--space fs-14">
                      Explore
                      <i></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
