<% 
    // CREATE ALIASES 
    const f_total_record = locals?.f_total_record || 0;
    const countries = locals?.countries || 0;
    const articles = locals?.articletype || 0;
    const total_publications = locals?.total_publications || 0;
    const total_blogs = locals?.total_blogs || 0
%>
<div class="grid-x stats-grid">
  <div class="cell medium-3 delay-2 inviewport" data-viewport="true">
      <div class="stats-panel">
          <div class="stats-card medium">
              <a href="/browse?search=&type=blog&page=1">
                  <div>
                      <div>
                          <h2
                              class="fs-55"
                              tabindex="0"
                              data-viewport="false"
                              style="white-space: nowrap; display: inline-block; font-size: 110px;"
                          >
                              <%= total_blogs %>
                          </h2>
                      </div>
                  </div>
                  <div>
                      <h4 class="" tabindex="0" data-viewport="false">Blogs</h4>
                      <!-- <p>Explore numerous articles covering various topics, achievements, and insights within the organization.</p> -->
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="cell medium-3 delay-3 inviewport" data-viewport="true">
      <div class="stats-panel">
          <div class="stats-card medium">
              <a href="/browse?search=&type=publications&page=1">
                  <div>
                      <div>
                          <h2
                              class="fs-55"
                              tabindex="0"
                              data-viewport="false"
                              style="white-space: nowrap; display: inline-block; font-size: 110px;"
                          >
                              <%= total_publications %>
                          </h2>
                      </div>
                  </div>
                  <div>
                      <h4 class="" tabindex="0" data-viewport="false">Publications</h4>
                      <!-- <p>Dive into various articles that highlight innovative methods and achievements across different fields.</p> -->
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="cell medium-3 delay-4 inviewport" data-viewport="true">
      <div class="stats-panel">
          <div class="stats-card medium">
              <a href="/browse">
                  <div>
                      <div>
                          <h2
                              class="fs-55"
                              tabindex="0"
                              data-viewport="false"
                              style="white-space: nowrap; display: inline-block; font-size: 110px;"
                          >
                              <%= countries %>
                          </h2>
                      </div>
                  </div>
                  <div>
                      <h4 class="" tabindex="0" data-viewport="false">Locations</h4>
                      <!-- <p>Discover content from <%= countries %> different locations, offering a diverse and global perspective.</p> -->
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="cell medium-3 delay-5 inviewport" data-viewport="true">
      <div class="stats-panel">
          <div class="stats-card medium">
              <a href="/browse">
                  <div>
                      <div>
                          <h2
                              class="fs-55"
                              tabindex="0"
                              data-viewport="false"
                              style="white-space: nowrap; display: inline-block; font-size: 110px;"
                          >
                              5
                          </h2>
                      </div>
                  </div>
                  <div>
                      <h4 class="" tabindex="0" data-viewport="false">Years</h4>
                      <!-- <p>Embark on a journey of over 5 years, filled with accumulated knowledge and insights in the Accelerator labs.</p> -->
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>

